<!-- <p>login works!</p> -->
<div id= "header" class="header">
    <h1 class="">EVENT MANAGEMENT</h1>
</div>

<div id= "subheader" class="subheader">
    <h2 class="">Login to continue!</h2>
</div>

<div id= "content" class="content">
    <form action= "http://localhost:8080/helpdesk/rest/hello" method="POST">
        <!-- First Name: <input type="text" name="firstName" class="field"> <br>
        Last Name: <input type="text" name="lastName" class="field"> <br>
        Mobile Number: <input type="text" name="mobile" class="field"> <br>
        Alternate Mobile Number: <input type="text" name="altmobile" class="field"> <br> -->
        Email Id: <input type="text" name="email" class="field"> <br>
        Password: <input type="text" name="password" class="field"> <br><br>
        <!-- <p> -->
        <input type="submit" value="Submit">
    </form>
</div>

<div id= "footer" class="footer">
    <p>Don't have an account?</p>
    <p><a href="http://localhost:4200/signup">Signup here</a></p>
</div>