<!-- <p>login works!</p> -->
<div id= "header" class="header">
    <h1 class="">EVENT MANAGEMENT</h1>
</div>

<div id= "subheader" class="subheader">
    <h2 class="">Signup to continue!</h2>
</div>

<div id= "content" class="content">
    <!-- <form id = "signupForm"action= "http://localhost:8080/helpdesk/rest/hello" method="POST"> -->
    <form id = "signupForm">
        First Name: <input type="text" name="firstName" class="field" required> <br>
        Last Name: <input type="text" name="lastName" class="field" > <br>
        Mobile Number: <input type="number" name="mobile" class="field" required> <br>
        Alternate Mobile Number: <input type="text" name="altmobile" class="field"> <br>
        Email Id: <input type="email" name="email" class="field" required> <br>
        Password: <input type="password" name="password" class="field" required> <br><br>
        <input type="submit" value="Submit">
    </form>
</div>

<div id= "footer" class="footer">
    <p>Already have an account?</p>
    <p><a href="http://localhost:4200/login">Login here</a></p>
</div>