.header {
    text-align: center;
}

.subheader {
    text-align: center;
}

.content {
    text-align: center;
}

.field {
    margin-top: 1em;
}

.footer {
    text-align: center;
}

input:user-invalid{
    border: 1px solid red;
    color:red;
}
  
input:user-valid {
    border: 1px solid green;
}